<div class="container">
  <% @posts.each do |post| %>
    <div class = "post">
      <%= if user_signed_in?%>
        <p class = "author"><%= post.user.username %></p>
      <h1 class="title"><%= post.title %> </h1>
      <p class= "body"><%= post.body%></p>
    </div>
  <% end %>
</div>

     

